body{
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh;
}
.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    padding: 0;
    transition: 0.2s;
    box-sizing: border-box;
    z-index: 2;
}
.header__container{
    display: flex;
    max-width: 1000px;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.logo__link{
    color:white;
    text-decoration: none;
}
.header__list {
    flex-direction: column;
}
.header__open-menu {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 32px;
    width: 32px;
    background: url("images/nav-icon.png") transparent;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    color: transparent;
}
.header__nav {
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    align-self: flex-start;

    /* align with logo */
    margin-left: 50%;
    transform: translateX(-38px);
}
.header__open-menu[aria-expanded="true"] + .header__nav {
    height: 210px;
}
.header__open-menu[aria-expanded="false"] + .header__nav {
    height: 0;
    visibility: hidden;
}
.header__logo{
    font-weight: 400;
    color: white;
    font-size: 22px;
    display: block;
}
.header__list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.header__list__item{
    display: inline-block;
}
.header__list__link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
    display: inline-block;
    padding: 5px 0;
}
.header__list__link:hover{
    color:#761735;
}
.breadcrumbs{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.breadcrumbs__container{
    margin:0 auto;
    max-width: 1000%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.breadcrumbs__title{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}
.breadcrumbs__list{
    margin:0 5px 5px 5px;
    flex-wrap: wrap;
    display: flex;
    list-style-type: none;
    padding:0;
}
.breadcrumbs__item:after{
    content: '>';
    margin:0 10px;
    color: white;
}
.breadcrumbs__item{
    display: flex;
    align-items: center;
    height: 20px;
}
.breadcrumbs__item:last-child span{
    transition: 0.2s;
    color:#761735;
}
.breadcrumbs__item:last-child span:hover{
    color: white;
}
.breadcrumbs__item:last-child:after{
    content:'';
}
.breadcrumbs__link{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    transition: 0.2s;
}
.breadcrumbs__link:hover{
    color:#761735;
}
.secretariat{
    width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.secretariat__list{
    padding:0;
}
.secretariat__image{
    margin-top: 50px;
    max-width: 940px;
    width: 100%;
}
.secretariat__member{
    width:100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin:20px 0;
}
.secretariat__member__photo{
    max-width: 400px;
    width:100%;
    margin-bottom: 10px;
}
.secretariat__member__text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 500px;
    margin:0 20px;
}
.secretariat__member__name{
    margin:0;
}
.secretariat__member__title{
    margin:0;
}
.secretariat__member__description{
    margin:5px 0;
}
.footer{
    background-color:black;
    color:white;
    width:100%;
    text-align: center;
}
.footer__signature{
    margin:0;
    padding:10px 0;
}
.commitees{
    max-width: 1000px;
    margin:0 auto;
}
.commitees__area{
    box-sizing: border-box;
    padding:10px;
}
@media screen and (min-width: 700px) {
    .header__container {
        flex-direction: row;
        padding: 0 20px;
    }
    .header__list {
        flex-direction: row;
    }
    .header__open-menu {
        display: none;
    }
    .header__open-menu[aria-expanded="true"] + .header__nav,
    .header__open-menu[aria-expanded="false"] + .header__nav {
        visibility: visible;
        height:auto;
    }
    .header__list__link {
        padding: 5px;
    }
    .header__nav {
        align-self: initial;
        margin-left: 0;
        transform: none;
    }
}
@media screen and (max-width: 800px){
    .secretariat{
        align-items: center;
        justify-content: center;        
    }
    .secretariat__list{
        align-items: center;
        justify-content: center;
    }
    .secretariat__member{
        flex-direction: column;
        max-width:400px;
    }
}
