.header{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	padding: 0 20px;
	transition: 0.2s;
	box-sizing: border-box;
}
.header__container{
	display: flex;
	max-width: 1000px;
	margin:0 auto;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.header__list {
	flex-direction: column;
}
.header__open-menu-input {
	display: none;
}
.header__open-menu-input:checked + .header__nav {
	height: 210px;
}
.header__open-menu {
	position: absolute;
	right: 20px;
	top: 10px;
	height: 32px;
	width: 32px;
	background-image: url("images/nav-icon.png");
	color: transparent;
}
.header__nav {
	height: 0;
	transition: height 0.5s ease-in-out;
	overflow: hidden;
}

@media screen and (min-width: 700px) {
	.header__container {
		flex-direction: row;
	}
	.header__list {
		flex-direction: row;
	}
	.header__open-menu {
		display: none;
	}
	.header__open-menu-input:checked + .header__nav {
		height: auto;
	}
	.header__nav {
		height: auto;
	}
}

.header__logo{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 22px;
	display: block;
}
.header__list{
	display: flex;
	list-style-type: none;
	padding: 0;
}
.header__list__item{
	display: inline-block;
}
.header__list__link{
	color: white;
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.3s;
	display: inline-block;
	padding: 5px;
}
.header__list__link:hover{
	color:#761735;
}
.main{
	background-image: url('images/background-image.jpg');
	height: 660px;
	background-size: cover;

}
.c-main{
	height: 100%;
	background: rgba(0,0,0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}
.c-main__content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.c-main__title{
	color:white;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
	font-size: 3rem;
	text-transform: uppercase;
	padding:20px;
}
.c-main__subtitle{
	color: white;
	font-family: 'Rajdhani', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.8rem;
	line-height: 2rem;
}
.c-main__button{
	width:120px;
	height: 40px;
	border: 1px solid #761735;
	background-color: #761735;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Rajdhani', sans-serif;
	transition: 0.3s;
	cursor: pointer;
}
.c-main__button:hover{
	background-color: rgba(0,0,0, 0.0);
	border:1px solid white;
}
.c-main__button:focus{
	outline: none;
}
.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about{
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about__title{
	font-family: 'Rajdhani', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #761735;
	text-transform: uppercase;
	margin: 100px 0;
}
.about__features{
	display: flex;
	max-width: 1100px;
	justify-content: space-around;
	flex-wrap: wrap;
}
.about__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 200px;
	border:1px solid #D7D7D7;
	box-sizing: border-box;
	padding:10px;
	margin:15px;
}
.item__title{
	font-family: 'Rajdhani', sans-serif;
	color: #761735;
	text-transform: uppercase;
}
.item__description{
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	color: #191919;
	margin:0;
}
.icon{
	margin:10px;
}
.smaller__item{
	width:220px;
	height: 170px;
}
.join{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

.join__title{
	color:#761735;
	font-size: 2rem;
	margin:100px 0;
	font-family: 'Rajdhani', sans-serif;
	font-weight:300;
	text-transform: uppercase;
}
.join__button{
	width:300px;
	height: 70px;
	border: 1px solid white;
	background-color: #761735;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: 'Rajdhani', sans-serif;
	transition: 0.3s;
	cursor: pointer;
}
.join__button:hover{
	background-color: rgba(0,0,0, 0.0);
	border:1px solid #761735;
	color:#761735;
}
.join__button:focus{
	outline: none;
}
@media (max-width: 750px){
	.smaller__item{
		width:90%;
		height: 225px;
	}
	.about__item{
		width:90%;
	}
}

